body {
  margin: 0;
  background-color: #fffff0;
}

#text-box{
  margin: auto;
  width: 95%;
}

h2, h3 {
  color: #160c16;
  font-family: "Playfair Display", serif;
  font-size: 8vw;
}

p {
  font-family: "Josefin Slab", serif;
  color: #160c16;
  font-size: 3vw;
}