div.header-ribbon{
  float: right;
  position: static;
  padding: 1px;
  margin: 2px;

}

section.header-ribbon h2 {
  font-family: "Futura";
  color: white;
}

.header-ribbon {
  background-color: black;
}

.header-ribbon p {
  color: white;
}

.blog-post {
  text-align: left;
  text-indent: 1px;
}

p {
  font-size: 12pt;
  font-family: Georgia, serif;
}

.blog-post span {
  font-style: bold;
  margin: 3em;
  font-size: 14pt;
}