html{
  color: #F1E8DC;
}

section.header-ribbon{
  width: 85%;
  height: 10%;
  float: right;
  position: static;
  border: 4px solid #800020;
  background-color: #800020;
  color: white;
  padding: 1px;
  margin: 2px;

}

section.header-ribbon h2 {
  font-family: "Futura";
  color: #FFFF32;
}

.header-ribbon  p {
  color: #FFFFAD;
}

.blog-post {
  width: 65%;
  height: 75%;
  text-indent: 5px;
  background-color: #f6f0e8;
  padding: 12px;
  border-style: inset;
  margin: 8px;
  color: black;
  float: right;
}

.blog-post p span {
  font-family: italic;
}

article {
  width: 30;
  height: 10;
  border: 1px solid #008060;
  position: fixed;
  top: 75%;
}

