div.header-ribbon{
  padding: 1px;
  margin: 2px;
}

/*section.header-ribbon h2 {
  font-family: "Futura";
  color: black;
}*/

/*.header-ribbon {
  background-color: black;
}*/

.header-ribbon p {
  color: #326872;
}

/*.blog-post {
  text-align: left;
  text-indent: 1px;
}*/

p {
  font-size: 12pt;
  font-family: serif;
  text-indent: 25px;
}

.blog-post span {
  font-style: bold;
  margin: 3em;
  font-size: 14pt;
}