/*
Thoughts/Impressions
Want to have top image that greets person
They scroll down to see the rest of my personal site
*/

 header img{
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0.4;
  filter: alpha(opacity=40);
}

header h1{
  font-family: Georgia, serif;
  position: absolute;
  top: 4em;
  width: 100%;
  text-align: center;
  font-size: 30pt;
}

ul {
  list-style: none;
}

main {
  background-color: #326872;
}


div.container {
  background-color: white;
  margin-right: 1em;
  margin-left: 1em;
  text-align: center;
}


/*
header{
  background-color: #e3e3e3;
}

main {
  position: relative;
}
*/

nav.navbar{
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #326872;
  width: 100%;
}

div.button{
  float: left;
  background-color: #326872
}

div.button a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

div.button a:hover {
  background-color: #32726c;
}

p {
  font-family: Georgia, serif;
}

/*a {
  text-decoration: none;
  font-family: Georgia, serif;
  color: black;
  font-size: 12pt;
}*/

section.bio{
}


/*li {
  font-family: Georgia, serif;
  font-size: 11 pt;
}*/

.recco{
  clear: both;
}

.recco a:hover {
  color: red;
}

nav.bottom-contact {
  text-align: center;
  position: fixed;
  bottom 0;
  width: 100%;
}

footer.button {
  float: left;
}
