/*
html {
  margin: 5px;
  padding: 10px;
} */

p {
  font-family: Georgia, serif;
  font-size: 11pt;
}

a {
  text-decoration: none;
  font-family: Georgia, serif;
  font-size: 12pt;
}

header{
  background-color: #e3e3e3;
}
/*
main {
  position: relative;
}
*/
header img{
  left: 0;
  top: 0;
  width: 100%;
}

header h1{
  font-family: Georgia, serif;
  font-size: 14;
  padding-right: 5em;
  padding-left: 5em;
}

div.top-navbar{
  display: inline;
  text-decoration: none;
  height: 5px;
  width: 100%;
}

section.bio{
  width: 50em;
}

nav.top-navbar{
  background-color: #326872;
  padding: 10px;
  margin: 15px;
}

li {
  font-family: Georgia, serif;
  font-size: 11 pt;
}

section{
  background-color: #e3e3e3;
  padding: 5px;
  margin: 10px;
}


nav.blog-index{
  background-color: #dbdbdb;
  top: 15%;
  width: 50em;
}



section.recco{
  width: 50em;
}


